# SMTP Configuration for Contact Form
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com #any gmail with pw
SMTP_PASS=your-app-password
SMTP_FROM_NAME=IEEE SB Website
SMTP_FROM=your-email@gmail.com #same as smtp user
SMTP_TO=recipient@gmail.com #set to ieee gmail
